<div>
    <div class="card"
        style="width: 35rem; margin-left: 300px; margin-top: 1%; margin-bottom:10px; box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4)">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label for="icon">Fecha</label>
                        <div>
                            <input type="text" disabled [(ngModel)]="fecha">
                        </div>
                    </div>
                    <div class="col">

                        <label for="timeonly">Hora cita</label>
                        <div>
                            <input type="text" disabled [(ngModel)]="hora">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="icon">Motivo</label>
                    <div>
                        <textarea type="text" class="text-diagnostico" [(ngModel)]="cita.motivo" name="Diagnostico"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-left: 35%; margin-top: 10px; margin-bottom: -10px">
                        <button pButton pRipple type="button"  label="Apartar cita"
                            class="p-button-rounded p-button-help" (click)="apartar()"></button>
                    </div>

                </div>
            </div>
        </div>
    </div>