<div>
    <form action="">
        <div>
            <div class="card"
                style="width: 30rem; margin-left: 25%; margin-top: 1%; margin-bottom:10px; box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4)">
                <div *ngIf="cond">
                    <div class="card-body">
                        <h4>Paciente</h4>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label for="">Identificación</label>
                                    <div class="input-group mb-3">
                                        <select name="sexo" style="width:5px; height:35px;" [(ngModel)]="paciente.persona.TipoDeIdentificacion "  class="form-select"
                                            aria-label="Default select example">
                                            <option value="TI">TI</option>
                                            <option value="CC">CC</option>
                                            <option value="PAS">PAS</option>
                                            <option value="CCE">CCE</option>
                                        </select>
                                        <input type="text"  class="form-control identification" disabled value="{{paciente.codigoPaciente}}">
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Nombres</label>
                                    <input type="text"[(ngModel)]=" paciente.persona.nombre" name="nombres" >
    
                                </div>
                            </div>
                        </div>
                      
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label>Apellidos</label>
                                    <input type="text" [(ngModel)]=" paciente.persona.apellido" name="apellidos" >
                                </div>
                                <div class="col">
                                    <label>Edad</label>
                                    <input type="number" [(ngModel)]=" paciente.persona.edad" name="edad" >
    
                                </div>
                            </div>
                        </div>
                        
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label>Usuario</label>
                                    <input type="text" [(ngModel)]=" paciente.persona.usuario" name="user" >
                                </div>
                                <div class="col">
                                    <label>Contraseña</label>
                                    <input type="text" [(ngModel)]=" paciente.persona.passwordd" name="pass" >
    
                                </div>
                            </div>
                        </div>
                        
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label>Correo</label>
                                    <input type="text" [(ngModel)]="paciente.persona.correo" name="correo">
                                </div>
                                <div class="col">
                                    <label>Direccion</label>
                                    <input type="text" [(ngModel)]="paciente.persona.direccion" name="direccion">
                                </div>
                            </div>
                        </div>
    
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label>Telefono</label>
                                    <input type="text" [(ngModel)]="paciente.persona.telefono" name="telefono">
                                </div>
                            </div>
                        </div>
                        <label>Sexo</label>
                        <select name="sexo" [(ngModel)]=" paciente.persona.sexo"  class="form-select" aria-label="Default select example"
                            >
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                        <div style="margin-left: 10%; margin-top: 10px; margin-bottom: -10px">
                            <button pButton pRipple type="button" (click)="update()" label="Modificar" class="p-button-rounded p-button-info"></button>
                            <button style="margin-left: 10px;" (click)="delete(paciente.persona.identification)" pButton pRipple type="button" label="Eliminar" class="p-button-rounded p-button-danger"></button>
                            
                            <button  (click)="open()" pButton pRipple style="margin-left: 10px;" type="button" label="Historial" class="p-button-rounded p-button-warning"></button>
                        </div>
                        <div>
                            <p-dialog header="Respuesta:" [(visible)]="visible" [modal]="true" [style]="{width: '50vw'}"
                                [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                                <p class="p-m-0" >Paciente modificado correctamente</p>
                            </p-dialog>
                        </div>
                    </div>
                </div>
                <div *ngIf="!cond">
                    <div class="card-body">
                        <h4>Paciente</h4>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label for="">Identificación</label>
                                    <div class="input-group mb-3">
                                        <select name="sexo" disabled style="width:5px; height:35px;" [(ngModel)]="paciente.persona.TipoDeIdentificacion "  class="form-select"
                                            aria-label="Default select example">
                                            <option value="TI">TI</option>
                                            <option value="CC">CC</option>
                                            <option value="PAS">PAS</option>
                                            <option value="CCE">CCE</option>
                                        </select>
                                        <input type="text" disabled  class="form-control identification" disabled value="{{paciente.codigoPaciente}}">
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Nombres</label>
                                    <input type="text" disabled [(ngModel)]=" paciente.persona.nombre" name="nombres" >
    
                                </div>
                            </div>
                        </div>
                      
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label>Apellidos</label>
                                    <input type="text" disabled [(ngModel)]=" paciente.persona.apellido" name="apellidos" >
                                </div>
                                <div class="col">
                                    <label>Edad</label>
                                    <input type="number" disabled [(ngModel)]=" paciente.persona.edad" name="edad" >
    
                                </div>
                            </div>
                        </div>
                        
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label>Usuario</label>
                                    <input type="text" disabled [(ngModel)]=" paciente.persona.usuario" name="user" >
                                </div>
                                <div class="col">
                                    <label>Contraseña</label>
                                    <input type="text" disabled [(ngModel)]=" paciente.persona.passwordd" name="pass" >
    
                                </div>
                            </div>
                        </div>
                        
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label>Correo</label>
                                    <input type="text" disabled [(ngModel)]="paciente.persona.correo" name="correo">
                                </div>
                                <div class="col">
                                    <label>Direccion</label>
                                    <input type="text" disabled [(ngModel)]="paciente.persona.direccion" name="direccion">
                                </div>
                            </div>
                        </div>
    
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label>Telefono</label>
                                    <input type="text" disabled [(ngModel)]="paciente.persona.telefono" name="telefono">
                                </div>
                            </div>
                        </div>
                        <label>Sexo</label>
                        <select name="sexo" disabled [(ngModel)]=" paciente.persona.sexo"  class="form-select" aria-label="Default select example"
                            >
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                        <div style="margin-left: 10%; margin-top: 10px; margin-bottom: -10px">
                            <button pButton pRipple type="button" disabled (click)="update()" label="Modificar" class="p-button-rounded p-button-info"></button>
                            <button style="margin-left: 10px;" disabled (click)="delete(paciente.persona.identification)" pButton pRipple type="button" label="Eliminar" class="p-button-rounded p-button-danger"></button>
                            
                            <button  (click)="open()" pButton pRipple style="margin-left: 10px;" type="button" label="Historial" class="p-button-rounded p-button-warning"></button>
                        </div>
                        <div>
                            <p-dialog header="Respuesta:" [(visible)]="visible" [modal]="true" [style]="{width: '50vw'}"
                                [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                                <p class="p-m-0" >Paciente modificado correctamente</p>
                            </p-dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
