<div>
    <form action="">
        <div>
            <div class="card"
                style="width: 50rem; margin-left: 180px; margin-top: 7%; margin-bottom:10px; box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4)">
                <div class="card-body">
                    <div class="card" id="utilidadesfecha">
                        <div class="p-field p-col-2 p-md-4">
                            <h5>Psicologos</h5>
                            <div style="margin-top:-55px">
                                <div style="margin-bottom: -40px; margin-left: 60%;">
                                    <input type="text" [(ngModel)]=" searchText" name="search">
                                </div>
                            </div>
                        </div>
                     </div>
                   
                    <p-table [value]="psicologos|FiltroPsicologo:searchText" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                        responsiveLayout="scroll"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[1,2,3]">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Identificación</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Especialidad</th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p>

                            <tr>
                                <td><a routerLink='/mostrar-psicologo/{{p.codigoPsicologo}}'>{{p.codigoPsicologo}}</a></td>
                                <td>{{p.persona.nombre}}</td>
                                <td>{{p.persona.apellido}}</td>
                                <td>{{p.especialidad.nombreEspecialidad}}</td>
                                <td>
                                    <button pButton pRipple type="button" icon="pi pi-times"
                                        pTooltip="Eliminar Psicologo" tooltipPosition="right"
                                        class="p-button-rounded p-button-danger" (click)="delete(p.codigoPsicologo)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>
            </div>
        </div>
    </form>
</div>